@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

// Variables
$color1: white;
$texto-sombra: 2px 2px rgb(11, 11, 179);
$fuente: 'Poppins', sans-serif;

// Mixing
@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

/* Estructura Principal -- INICIO */

body {
    @include sizes(100%, 100%);
}

header {
    @include sizes(100%, 28vh);
    background-image: linear-gradient(rgb(245, 243, 243), rgb(206, 206, 206));
    border-bottom: 3px solid rgb(26, 124, 6);

    h2{
        color: rgb(8, 8, 128);
        text-shadow: 2px 2px rgba(17, 17, 226, 0.336);  
    }

    .encabezado {
        @include sizes(100%, 70%);
        display: grid;
        padding: 1px;
        gap: 0.5%;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr;
    }

    .HTLogo {
        @include sizes(100%, 95%);
        width: 100%;
        height: 95%;
        margin-left: 3px;
        margin-bottom: 10px;
        background-image: url(img/anlogo.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center
    }

    .HMenu {
        @include sizes(100%, 95%);
        width: 100%;
        height: 100%;
        display: flex;

        ul {
            width: 100%;
            li {
                display: inline-block;
                font-size: 3vh;
                margin: 5px;
                width: 25vh;
                justify-content: center;
                border-radius: 10px;
                text-align: center;
                box-shadow: inset 0 0 0 0 rgb(5, 5, 143);
                transition: ease-out 0.5s;
                outline: none;
                background-color: rgba(202, 201, 201, 0.473);

                a{
                    text-decoration: none;
                    position: relative;
                    display: inline-block;
                    color: rgb(3, 3, 80);
                    text-transform: uppercase; 
                }
                a:hover{
                    color: rgb(250, 246, 246);
                }

            }
            li:hover{
                box-shadow: inset 300px 0 0 rgb(5, 5, 143);
            }
        }
    }
}


main {
    @include sizes(100%, 100%);
    min-height: 75vh;    
    background-image: linear-gradient(rgb(26, 26, 168), rgb(18, 18, 88));
}


footer {
    width: 100%;
    padding: 10px 5px;
    position: relative;
    min-height: 5px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(245, 243, 243), rgb(206, 206, 206));

    .footerul{
        position: relative;
        margin: 5px 0;

        li{
            list-style: none;

            a{
                color: rgb(3, 3, 80);
                margin: 0 10px;
                display: inline-block;
                transition: 0.5s;
                text-decoration: none;
            }
            a:hover{
                transform: translate(-10px);
            }    
        }

    }
    .wave{
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 30px;
        background:  url(img/wave.png);
        background-size: 300px 30px;
    }
    .wave#wave1{
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animatedWave 4s linear infinite;
    }
    .wave#wave2{
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animatedWave_02 4s linear infinite;
    }
    .wave#wave3{
        z-index: 1000;
        opacity: 0.2;
        bottom: 15px;
        animation: animatedWave 3s linear infinite;
    }
    .wave#wave4{
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animatedWave_02 3s linear infinite;
    }
}
@keyframes animatedWave{
    0%
    {
        background-position-x: 300px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animatedWave_02{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 300px;
    }
}

/* Estructura Principal -- FIN */


/* index.html -- INICIO */

.ICajaPrincipal {
    @include sizes(100%, 75vh);
    background-image: url(img/Inicioimg.jpg);
    background-size: cover;
    background-position: center;

    .CajaTexto{
        @include sizes(300px, 90%);
        position: relative;
        font-size: 90%;
        left: 110px;
        top: 30px;
        background: rgba(119, 118, 118, 0.603);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

        .CajaTextoH2{
            color: $color1;
            text-align: center;
        }

        p{
            color: $color1;
        }
    }
}

/* index.html -- FIN */



/* servicios.html -- INICIO */

.SCajaPrincipal {
    @include sizes(100%, 100%);
    display: flex;

    .s__cajaizquierda {
        width: 400px;
        height: 300px;

        h2{
            color: $color1;
            text-align: center;
            padding-top: 50px;
            text-shadow: $texto-sombra;
        }

        p{
            color: $color1;
            text-align: center;
            justify-content: left;
            font-size: 1.2em;
            margin-top: 10px;
            text-shadow: $texto-sombra;
        }
    }

    .s__cajaderecha {
        @include sizes(700px, 500px);

        .ImgAnimada {
            @include sizes(75%, 280px);
            background-image: url(img/Img1.jpg);
            background-size: 100% 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: relative;
            box-shadow: 1px 2px 10px 5px $color1;
            animation: slider 25s infinite linear;
        }
    }
}

@keyframes slider {
    0% {
        background-image: url(img/Img1.jpg);
    }

    20% {
        background-image: url(img/Img2.jpg);
    }
}

/* servicios.html -- FIN */

/* quienes somos.html -- INICIO */

$Ttexto: (
    // tamaños de texto -- mapa
    tam1: 3.5em,
    tam2: 1.2em,
    tam3: 2.2em,
);

@each $tqs, $tam in $Ttexto {
    .text--#{$tqs} {
        font-size: $tam;
        text-shadow: 3px 2px blue;
    }
}

.QSTodo {
    font-family: $fuente;
    color: $color1;
    text-shadow: $texto-sombra;
    padding-bottom: 50px;

    .QSCaja {
        @include sizes(100%, 80vh);
        background-image: url(img/QSimg.jpg);
        background-position: center;
        background-size: cover;
    }

    .QSCaja2 {
        @include sizes(80vh, 40vh);
        margin-top: 10vh;
        background-image: url(img/img4.jpg);
        background-size: cover;
        background-position: center;
    }
}


/* quienes somos.html -- FIN */


/* trabajos.html -- INICIO */

.TcajaTexto {
    font-family: $fuente;
    color: $color1;
    padding-bottom: 50px;
}

/* trabajos.html -- FIN */

/* contacto.html -- INICIO */

.ContactoMain{
    background-image: url(img/ImgContacto.jpg);
    background-position: center;
    background-size: cover;
}
.cajaContacto{
    padding-top: 50px;
    padding-bottom: 50px;
    

    .contenido{
        text-align: center;
        color: $color1;
    }

    .itemsContacto{
        padding-top: 50px;

        .box{
            position: relative;
            padding: 20px 0;
            display: flex;

            .Icono{
                min-width: 60px;
                height: 60px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-size: 22px;
            }

            .texto{
                display: flex;
                margin-left: 20px;
                font-size: 16px;
                flex-direction: column;
                color: $color1;

                h3{
                    font-weight: 500;
                    color: rgb(181, 181, 184);
                }
            }
            
        }

    }
    .contactoFormulario{
        width: 40%;
        height: 60%;
        padding: 40px;
        background: #fff;

        h2{
            font-size: 30px;
            color: #333;
            font-weight: 500;
        }
        .inputBox{
            position: relative;
            width: 100%;
            margin-top: 10px;

            input, textarea{
                width: 100%;
                padding: 5px 0;
                font-size: 16px;
                margin: 10px 0;
                border: none;
                border-bottom: 2px solid #333;
                outline: none;
                resize: none;
            }

            input:focus ~ span{
                color: #211ee9;
                font-size: 12px;
                transform: translateY(-20px);
            }
            input:valid ~ span{
                color: #211ee9;
                font-size: 12px;
                transform: translateY(-20px);
            }
            textarea:focus ~ span{
            color: #211ee9;
            font-size: 12px;
            transform: translateY(-20px);
            }
            textarea:focus ~ span{
            color: #211ee9;
            font-size: 12px;
            transform: translateY(-20px);
            }
            span{
                position: absolute;
                left: 0;
                padding: 5px 0;
                font-size: 16px;
                margin: 10px 0;
                pointer-events: none;
                transition: 0.5s;
                color: #666;
            }
            input[type="submit"]{
                width: 100px;
                background: #2000d4;
                color: #fff;
                border: none;
                cursor: pointer;
                padding: 10px;
                font-size: 18px;
            }
        }
    }

    .contactoFormulario{
        padding-top: 50px;
    }

}
/* contacto.html -- FIN */
@media only screen and (min-width:320px) and (max-width:1200px) {
    header {
        @include sizes(100%, 100%);
    }
}


@media only screen and (min-width:320px) and (max-width:435px) {

    .CajaTexto {
        @include sizes(300px, 90%);
        position: relative;
        font-size: 90%;
        left: 0;
        top: 15px;
        background: rgba(119, 118, 118, 0.603);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }

    .s__cajaderecha {
        margin-top: 30px;
    }
}

@media only screen and (min-width:320px) and (max-width:500px) {
    .QCajaPrincipal {
        @include sizes(300px, 100%);
        color: $color1;
        text-shadow: 3px 2px blue;
    }
}