@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Estructura Principal -- INICIO */
body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 28vh;
  background-image: linear-gradient(#f5f3f3, #cecece);
  border-bottom: 3px solid #1a7c06;
}
header h2 {
  color: #080880;
  text-shadow: 2px 2px rgba(17, 17, 226, 0.336);
}
header .encabezado {
  width: 100%;
  height: 70%;
  display: grid;
  padding: 1px;
  gap: 0.5%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
}
header .HTLogo {
  width: 100%;
  height: 95%;
  width: 100%;
  height: 95%;
  margin-left: 3px;
  margin-bottom: 10px;
  background-image: url(img/anlogo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
header .HMenu {
  width: 100%;
  height: 95%;
  width: 100%;
  height: 100%;
  display: flex;
}
header .HMenu ul {
  width: 80%;
}
header .HMenu ul li {
  display: inline-block;
  font-size: 3vh;
  margin: 5px;
  width: 25vh;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  box-shadow: inset 0 0 0 0 #05058f;
  transition: ease-out 0.5s;
  outline: none;
  background-color: rgba(202, 201, 201, 0.473);
}
header .HMenu ul li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #030350;
  text-transform: uppercase;
}
header .HMenu ul li a:hover {
  color: #faf6f6;
}
header .HMenu ul li:hover {
  box-shadow: inset 300px 0 0 #05058f;
}

main {
  width: 100%;
  height: 100%;
  min-height: 75vh;
  background-image: linear-gradient(#1a1aa8, #121258);
}

footer {
  width: 100%;
  padding: 10px 5px;
  position: relative;
  min-height: 5px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#f5f3f3, #cecece);
}
footer .footerul {
  position: relative;
  margin: 5px 0;
}
footer .footerul li {
  list-style: none;
}
footer .footerul li a {
  color: #030350;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
}
footer .footerul li a:hover {
  transform: translate(-10px);
}
footer .wave {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background: url(img/wave.png);
  background-size: 300px 30px;
}
footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  -webkit-animation: animatedWave 4s linear infinite;
          animation: animatedWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  -webkit-animation: animatedWave_02 4s linear infinite;
          animation: animatedWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  -webkit-animation: animatedWave 3s linear infinite;
          animation: animatedWave 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  -webkit-animation: animatedWave_02 3s linear infinite;
          animation: animatedWave_02 3s linear infinite;
}

@-webkit-keyframes animatedWave {
  0% {
    background-position-x: 300px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animatedWave {
  0% {
    background-position-x: 300px;
  }
  100% {
    background-position-x: 0px;
  }
}
@-webkit-keyframes animatedWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 300px;
  }
}
@keyframes animatedWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 300px;
  }
}
/* Estructura Principal -- FIN */
/* index.html -- INICIO */
.ICajaPrincipal {
  width: 100%;
  height: 75vh;
  background-image: url(img/Inicioimg.jpg);
  background-size: cover;
  background-position: center;
}
.ICajaPrincipal .CajaTexto {
  width: 300px;
  height: 90%;
  position: relative;
  font-size: 90%;
  left: 110px;
  top: 30px;
  background: rgba(119, 118, 118, 0.603);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.ICajaPrincipal .CajaTexto .CajaTextoH2 {
  color: white;
  text-align: center;
}
.ICajaPrincipal .CajaTexto p {
  color: white;
}

/* index.html -- FIN */
/* servicios.html -- INICIO */
.SCajaPrincipal {
  width: 100%;
  height: 100%;
  display: flex;
}
.SCajaPrincipal .s__cajaizquierda {
  width: 400px;
  height: 300px;
}
.SCajaPrincipal .s__cajaizquierda h2 {
  color: white;
  text-align: center;
  padding-top: 50px;
  text-shadow: 2px 2px #0b0bb3;
}
.SCajaPrincipal .s__cajaizquierda p {
  color: white;
  text-align: center;
  justify-content: left;
  font-size: 1.2em;
  margin-top: 10px;
  text-shadow: 2px 2px #0b0bb3;
}
.SCajaPrincipal .s__cajaderecha {
  width: 700px;
  height: 500px;
}
.SCajaPrincipal .s__cajaderecha .ImgAnimada {
  width: 75%;
  height: 280px;
  background-image: url(img/Img1.jpg);
  background-size: 100% 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  box-shadow: 1px 2px 10px 5px white;
  -webkit-animation: slider 25s infinite linear;
          animation: slider 25s infinite linear;
}

@-webkit-keyframes slider {
  0% {
    background-image: url(img/Img1.jpg);
  }
  20% {
    background-image: url(img/Img2.jpg);
  }
}

@keyframes slider {
  0% {
    background-image: url(img/Img1.jpg);
  }
  20% {
    background-image: url(img/Img2.jpg);
  }
}
/* servicios.html -- FIN */
/* quienes somos.html -- INICIO */
.text--tam1 {
  font-size: 3.5em;
  text-shadow: 3px 2px blue;
}

.text--tam2 {
  font-size: 1.2em;
  text-shadow: 3px 2px blue;
}

.text--tam3 {
  font-size: 2.2em;
  text-shadow: 3px 2px blue;
}

.QSTodo {
  font-family: "Poppins", sans-serif;
  color: white;
  text-shadow: 2px 2px #0b0bb3;
  padding-bottom: 50px;
}
.QSTodo .QSCaja {
  width: 100%;
  height: 80vh;
  background-image: url(img/QSimg.jpg);
  background-position: center;
  background-size: cover;
}
.QSTodo .QSCaja2 {
  width: 80vh;
  height: 40vh;
  margin-top: 10vh;
  background-image: url(img/img4.jpg);
  background-size: cover;
  background-position: center;
}

/* quienes somos.html -- FIN */
/* trabajos.html -- INICIO */
.TcajaTexto {
  font-family: "Poppins", sans-serif;
  color: white;
  padding-bottom: 50px;
}

/* trabajos.html -- FIN */
/* contacto.html -- INICIO */
.ContactoMain {
  background-image: url(img/ImgContacto.jpg);
  background-position: center;
  background-size: cover;
}

.cajaContacto {
  padding-top: 50px;
  padding-bottom: 50px;
}
.cajaContacto .contenido {
  text-align: center;
  color: white;
}
.cajaContacto .itemsContacto {
  padding-top: 50px;
}
.cajaContacto .itemsContacto .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.cajaContacto .itemsContacto .box .Icono {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.cajaContacto .itemsContacto .box .texto {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  color: white;
}
.cajaContacto .itemsContacto .box .texto h3 {
  font-weight: 500;
  color: #b5b5b8;
}
.cajaContacto .contactoFormulario {
  width: 40%;
  height: 60%;
  padding: 40px;
  background: #fff;
}
.cajaContacto .contactoFormulario h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.cajaContacto .contactoFormulario .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.cajaContacto .contactoFormulario .inputBox input, .cajaContacto .contactoFormulario .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.cajaContacto .contactoFormulario .inputBox input:focus ~ span {
  color: #211ee9;
  font-size: 12px;
  transform: translateY(-20px);
}
.cajaContacto .contactoFormulario .inputBox input:valid ~ span {
  color: #211ee9;
  font-size: 12px;
  transform: translateY(-20px);
}
.cajaContacto .contactoFormulario .inputBox textarea:focus ~ span {
  color: #211ee9;
  font-size: 12px;
  transform: translateY(-20px);
}
.cajaContacto .contactoFormulario .inputBox textarea:focus ~ span {
  color: #211ee9;
  font-size: 12px;
  transform: translateY(-20px);
}
.cajaContacto .contactoFormulario .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.cajaContacto .contactoFormulario .inputBox input[type=submit] {
  width: 100px;
  background: #2000d4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.cajaContacto .contactoFormulario {
  padding-top: 50px;
}

/* contacto.html -- FIN */
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  header {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 435px) {
  .CajaTexto {
    width: 300px;
    height: 90%;
    position: relative;
    font-size: 90%;
    left: 0;
    top: 15px;
    background: rgba(119, 118, 118, 0.603);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .s__cajaderecha {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .QCajaPrincipal {
    width: 300px;
    height: 100%;
    color: white;
    text-shadow: 3px 2px blue;
  }
}/*# sourceMappingURL=estilos.css.map */