@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Estructura Principal -- INICIO */

body{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 28vh;
    background-image: linear-gradient(rgb(245, 243, 243), rgb(206, 206, 206));
    border-bottom: 3px solid rgb(26, 124, 6);
}

.encabezado{
    width: 100%;
    height: 70%;
    display: grid;
    padding: 1px;
    gap: 0.5%;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
}

main{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(26, 26, 168),rgb(18, 18, 88));
}


footer{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(245, 243, 243), rgb(206, 206, 206));
}

/* titulo logo y menu -- INICIO */
header h2{
    color: rgb(8, 8, 128);
    text-shadow: 2px 2px rgba(17, 17, 226, 0.336);    
} 

.HTLogo{
    width: 100%;
    height: 95%;
    margin-left: 3px;
    margin-bottom: 10px;
    background-image: url(img/anlogo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
 }

.HMenu{
    width: 100%;
    height: 95%;
    display: flex;
}

.HMenu ul li{
    display: inline-block;
    font-size: 3vh;
    margin: 5px;
    width: 25vh;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 0 0 0 0 rgb(5, 5, 143);
    transition: ease-out 0.5s;
    outline: none;
    background-color: rgba(202, 201, 201, 0.473);
}
.HMenu ul li a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: rgb(3, 3, 80);
    text-transform: uppercase;
}
.HMenu ul li a:hover{
    color: rgb(250, 246, 246);
}
.HMenu ul li:hover{
    box-shadow: inset 300px 0 0 rgb(5, 5, 143);
}

/* titulo logo y menu -- FIN */

/* index.html -- INICIO */

.CajaTexto{
    position: relative;
    width: 300px;
    height: 90%;
    font-size: 90%;
    left: 110px;
    top: 30px;
    background: rgba(119, 118, 118, 0.603);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);  
}

.CajaTexto h2{
    color: white;
    text-align: center;
 }

 .CajaTexto p{
     color: white;
 }

 .ICajaPrincipal{
     width: 100%;
     height: 70vh;
    background-image: url(img/img3.jpg);
    background-size: cover;
    background-position: center;
 }

 /* contacto.html -- INICIO */

.QCajaPrincipal{
    width: 500px;
    height: 100%;
    color: white;
    text-shadow: 3px 2px blue;
}

.formulariodecontacto{
    text-align: center;
}

.parrafo__cc{
    margin-top: 20px;
}

.titulo__formulario{
    margin-top: 30px;
}

.titulo__consulta{
    margin-top: 30px;
}

/* contacto.html -- FIN */

/* servicios.html -- INICIO */

.SCajaPrincipal{
    width: 100%;
    height: 100%;
    display: flex;
}
.s__cajaizquierda{
    width: 400px;
    height: 300px;
}

.s__cajaizquierda h2{
    text-align: center;
    padding-top: 50px;
    color: white;
    text-shadow: 2px 2px blue;
}
.s__cajaizquierda p{
    text-align: center;
    justify-content: left;
    font-size: 1.2em;
    margin-top: 10px;
    color: white;
    text-shadow: 2px 2px blue;
}
.s__cajaderecha{
    width: 700px;
    height: 500px;
}

.ImgAnimada{
    background-image: url(img/Img1.jpg);
    background-size: 100% 100%;
    width: 75%;
    height: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 25s infinite linear;
}


@keyframes slider{
    0%{ background-image: url(img/Img1.jpg); }
    20%{ background-image: url(img/Img2.jpg); }
}

/* servicios.html -- FIN */

/* quienes somos.html -- INICIO */

.QSCaja{
    width: 100%;
    height: 80vh;
    background-image: url(img/img5.jpg);
    background-position: center;
    background-size: cover;
}

.QSCaja2{
    margin-top: 10vh;
    width: 80vh;
    height: 40vh;
    background-image: url(img/img4.jpg);
    background-size: cover;
    background-position: center;
}

.QSTodo{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 2px 2px blue;
}



/* quienes somos.html -- FIN */
@media only screen and (min-width:320px) and (max-width:1200px){
    header{
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width:320px) and (max-width:435px){

    .CajaTexto{
        position: relative;
        width: 300px;
        height: 90%;
        font-size: 90%;
        left: 0;
        top: 15px;
        background: rgba(119, 118, 118, 0.603);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);  
    }
    .s__cajaderecha{
        margin-top: 30px;
    }
}

@media only screen and (min-width:320px) and (max-width:500px){
    .QCajaPrincipal{
        width: 300px;
        height: 100%;
        color: white;
        text-shadow: 3px 2px blue;
    }
}